@media(min-width: 1280px) {
  /* Buat Hape */
  .isi {
    margin-left: 250px;
    width: 78%;
  }
  .konten {
    height: 250px;
  }
  .itemshowoff {
    border: 1px solid white;
    height: 250px;
  }
  .spesifikasi {
    height: 250px;
  }
}
@media(min-width: 1360px) {
  /* Buat Layar Leptop */
  .isi {
    margin-left: 250px;
    width: 80%;
  }
  .konten {
    height: 300px;
  }
  .itemshowoff {
    border: 1px solid white;
    height: 300px;
  }
  .spesifikasi {
    height: 300px;
  }
}
@media(min-width: 1600px) {
  /* Buat Layar PC ukuran sedang */
  .isi {
    margin-left: 250px;
    width: 82%;
  }
  .konten {
    height: 420px;
  }
  .itemshowoff {
    border: 1px solid white;
    height: 420px;
  }
  .spesifikasi {
    height: 420px;
  }
}
@media(min-width: 1920px) {
  /* Buat Layar PC Full HD */
  .isi {
    margin-left: 250px;
    width: 85%;
  }
  .konten {
    height: 600px;
  }
  .itemshowoff {
    border: 1px solid white;
    height: 600px;
  }
  .spesifikasi {
    height: 420px;
  }
}

body {
  background-color: #9CCFE2;
}

#sidebar {
  background-color: #379BAB;
}

#sidebar > a {
  color: #F6FAFB;
}

#sidebar > a:hover {
  background-color: #3891BD;
  color: #E1DF83;
}
.itemshowoff {
  border: 1px solid white;
}
.spesifikasi {
  background-color: #379BAB;
  overflow-y: scroll;
}

.spesifikasi > h1 {
  color: #CBD57A;
  font-size: 30px;
}

.spesifikasi > .ui.animated.list > .item {
  color: #FDFEFE;
  font-size: 25px;
}

.deskripsi {
  height: 200px;
  background-color: #379BAB;
  overflow-y: scroll;
}

.deskripsi > h1 {
  color: #CBD57A;
  font-size: 30px;
}

.deskripsi > p {
  color: #FDFEFE;
  text-align: justify;
  font-size: 20px;
}

.ui.grid > .row > h1 {
  color: #2F85B6;
  font-size: 50px;
}

.tahundeskripsi {
  display: none;
  overflow-y: scroll;
  height: 300px;
  width: 200px;
  background-color: #379BAB;
}

.tahundeskripsi > h1 {
  color: #F6E974;
}

.tahundeskripsi > p {
  color: #FDFEFE;
  text-align: justify;
}
