@media(min-width: 1280px) {
  /* Buat Hape */
  .isi {
    margin-left: 250px;
    width: 78%;
  }
  .konten {
    height: 250px;
  }
  .itemshowoff {
    height: 250px;
  }
  .spesifikasi {
    height: 250px;
  }
}
@media(min-width: 1360px) {
  /* Buat Layar Leptop */
  .isi {
    margin-left: 250px;
    width: 80%;
  }
  .konten {
    height: 300px;
  }
  .itemshowoff {
    height: 300px;
  }
  .spesifikasi {
    height: 300px;
  }
}
@media(min-width: 1600px) {
  /* Buat Layar PC ukuran sedang */
  .isi {
    margin-left: 250px;
    width: 82%;
  }
  .konten {
    height: 420px;
  }
  .itemshowoff {
    height: 420px;
  }
  .spesifikasi {
    height: 420px;
  }
}
@media(min-width: 1920px) {
  /* Buat Layar PC Full HD */
  .isi {
    margin-left: 250px;
    width: 85%;
  }
  .konten {
    height: 600px;
  }
  .itemshowoff {
    height: 600px;
  }
  .spesifikasi {
    height: 420px;
  }
}

body {
  background-color: #9CCFE2;
}

#sidebar {
  background-color: #379BAB;
}

#sidebar > a {
  color: #F6FAFB;
}

#sidebar > a:hover {
  background-color: #3891BD;
  color: #E1DF83;
}
.spesifikasi {
  background-color: #379BAB;
  overflow-y: scroll;
}

.spesifikasi > h1 {
  color: #CBD57A;
  font-size: 30px;
}

.spesifikasi > .ui.animated.list > .item {
  color: #FDFEFE;
  font-size: 25px;
}

.deskripsi {
  height: 200px;
  background-color: #379BAB;
  overflow-y: scroll;
}

.deskripsi > h1 {
  color: #CBD57A;
  font-size: 30px;
}

.deskripsi > p {
  color: #FDFEFE;
  text-align: justify;
  font-size: 20px;
}

.ui.grid > .row > h1 {
  color: #2F85B6;
  font-size: 50px;
}

.tahundeskripsi {
  display: none;
  overflow-y: scroll;
  height: 300px;
  width: 200px;
  background-color: #379BAB;
}

.tahundeskripsi > h1 {
  color: #F6E974;
}

.tahundeskripsi > p {
  color: #FDFEFE;
  text-align: justify;
}

.timeline {
    width: 100%;
}
.timeline .timeline-item {
    width: 100%;
}
.timeline .timeline-item .info, .timeline .timeline-item .year {
    color: #eee;
    display: block;
    float:left;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
.timeline .timeline-item.close .info, .timeline .timeline-item.close .year {
    color: #ccc;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
.timeline .timeline-item .year {
    font-size: 24px;
    font-weight: bold;
    width: 22%;
}
.timeline .timeline-item .info {
    width: 100%;
    width: 78%;
    margin-left: -2px;
    padding: 0 0 40px 35px;
    border-left: 4px solid #aaa;
    font-size: 14px;
    line-height: 20px;
}
.timeline .timeline-item .marker {
    background-color: #fff;
    border: 4px solid #aaa;
    height: 20px;
    width: 20px;
    border-radius: 100px;
    display: block;
    float: right;
    margin-right: -14px;
    z-index: 2000;
    position: relative;
}
.timeline .timeline-item.active .info, .timeline .timeline-item:hover .info {
    color: #444;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
.timeline .timeline-item.active .year, .timeline .timeline-item:hover .year {
    color: #9DB668;
}
.timeline .timeline-item .marker .dot {
    background-color: white;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    display: block;
    border: 4px solid white;
    height: 12px;
    width: 12px;
    border-radius: 100px;
    float: right;
    z-index: 2000;
    position: relative;
}
.timeline .timeline-item.active .marker .dot, .timeline .timeline-item:hover .marker .dot {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    background-color: #9DB668;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
}
