<div class="four wide column menu">
  <div class="ui animated list">
    <h1>Menu</h1>
    <div class="item">
      <i class="caret right icon"></i>
      <div class="content" ui-sref="mobil({mobil_id: 1})">Mobil</div>
    </div>
    <div class="item">
      <i class="caret right icon"></i>
      <div class="content" ui-sref="spareparts({spareparts_id: 1})">Spareparts</div>
    </div>
    <div class="item">
      <i class="caret right icon"></i>
      <div class="content" ui-sref="roadmap">Roadmap</div>
    </div>
  </div>
</div>
