<div class="ui inverted fixed menu navbar page grid" style="height: 50px;">
  <a ui-sref="root" class="brand item">Molina Dashboard</a>
  <a href="" class="item">Menu</a>
  <a class="ui dropdown item">Dropdown Menu
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item">Action</div>
      <div class="item">Another action</div>
      <div class="item">Something else here</div>
      <div class="ui divider"></div>
      <div class="item">Seperated link</div>
      <div class="item">One more seperated link</div>
    </div>
  </a>
  <div class="right menu">
    <a href="" class="item">Menu Sebelah Kanan</a>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	$('.right.menu.open').on("click",function(e){
        e.preventDefault();
		$('.ui.vertical.menu').toggle();
	});

	$('.ui.dropdown').dropdown();
});
</script>
