<link rel="import" href="bower_components/unity-web-player/unity-web-player.html" />
<script src="bower_components/threesixty-slider/src/threesixty.js"></script>
<div ng-controller='mobil as m'>

  <div class="ui grid">
    <div class="row">
      <h1>{{ m.mobilData[m.mobilID - 1].nama_mobil }}</h1>
    </div>
    <div class="row">
      <div class="twelve wide column konten">
        <div class="itemshowoff">
          <!-- <unity-web-player source="assets/3d/mobil.unity3d" autoplay="true" width="820" height="300"></unity-web-player> -->
          <div class="itemshowoff threesixty mobilmuter">
            <div class="spinner">
                <span>0%</span>
            </div>
            <ol class="threesixty_images"></ol>
          </div>
        </div>
        <i class="ui chevron left icon" ng-if="m.previous > 0" ui-sref="mobil({mobil_id: m.previous})"></i>
        <i class="ui chevron right icon" ng-if="m.next < 4" ui-sref="mobil({mobil_id: m.next})"></i>
      </div>
      <div class="four wide column spesifikasi">
        <h1>Spesifikasi</h1>
        <div class="ui animated list">
          <div class="item" ng-repeat="sp in m.sparepartsData | filter: { mobil_id: m.mobilID }">
            <i class="caret right icon"></i>
            <div class="content" ui-sref="spareparts({spareparts_id: sp.sparepart_id})">{{ sp.nama_sparepart }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="sixteen wide column deskripsi">
        <h1>Deskripsi</h1>
        <p ng-bind-html="m.mobilData[m.mobilID - 1].deskripsi"></p>
      </div>
    </div>

  </div>

</div>
