<div ng-controller='spareparts as s'>

  <div class="ui grid">
    <div class="row">
      <h1>{{ s.sparepartsData[s.sparepartsID - 1].nama_sparepart }}</h1>
    </div>
    <div class="row">
      <div class="twelve wide column konten"id="scroll">
        <i class="ui huge caret left icon" ng-if="s.previous == 0"></i>
        <i class="ui huge caret left icon" ng-if="s.previous > 0" ui-sref="spareparts({spareparts_id: s.previous})"></i>
        <button class="ui primary button" ui-sref="mobil({mobil_id: s.mobilData[s.sparepartsData[s.sparepartsID - 1].mobil_id - 1].mobil_id })">Spareparts {{ s.mobilData[s.sparepartsData[s.sparepartsID - 1].mobil_id - 1].nama_mobil }}</button>
        <i class="ui huge caret right icon" ng-if="s.next < 30" ui-sref="spareparts({spareparts_id: s.next})"></i>
        <i class="ui huge caret right icon" ng-if="s.next == 30"></i>
        <div class="threesixty sparepartsmuter">
          <div class="spinner">
              <span>0%</span>
          </div>
          <ol class="threesixty_images"></ol>
        </div>

      </div>
      <!-- <div class="four wide column spesifikasi">
        <h1>Spesifikasi</h1>
        <div class="ui animated list">
          <div ng-repeat="spek in s.sparepartsSpecData" class="item">
            <i class="caret right icon"></i>
            <div class="content" ng-bind-html="spek.detail"></div>
          </div>
        </div>
      </div> -->
    </div>
    <div class="row">
      <div class="sixteen wide column deskripsi"id="scroll">
        <h1>Deskripsi</h1>
        <p>{{ s.sparepartsData[s.sparepartsID - 1].deskripsi }}</p>
      </div>
    </div>

  </div>

</div>
