<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="bower_components/jquery/dist/jquery.min.js"><\/script>');</script>
<link href='bower_components/threesixty-slider/src/styles/threesixty.css' rel='stylesheet' type='text/css' />
<script src="bower_components/threesixty-slider/src/threesixty.js"></script>
<div ng-controller='spareparts as s'>

  <div class="ui grid">
    <div class="row">
      <h1>{{ s.sparepartsData[s.sparepartsID - 1].nama_sparepart }}</h1>
    </div>
    <div class="row">
      <div class="twelve wide column konten">
        <img ng-src="assets/komponen/{{ s.sparepartsData[s.sparepartsID - 1].pic }}" height="400px;" />
        <br />
        <!-- <div class="itemshowoff threesixty mobilmuter">
          <div class="spinner">
              <span>0%</span>
          </div>
          <ol class="threesixty_images"></ol>
        </div> -->
        <i class="ui chevron left icon" ng-if="s.previous > 0" ui-sref="spareparts({spareparts_id: s.previous})"></i>
        <i class="ui chevron right icon" ng-if="s.next < 30" ui-sref="spareparts({spareparts_id: s.next})"></i>
      </div>
      <!-- <div class="four wide column spesifikasi">
        <h1>Spesifikasi</h1>
        <div class="ui animated list">
          <div ng-repeat="spek in s.sparepartsSpecData" class="item">
            <i class="caret right icon"></i>
            <div class="content" ng-bind-html="spek.detail"></div>
          </div>
        </div>
      </div> -->
    </div>
    <div class="row">
      <div class="sixteen wide column deskripsi">
        <h1>Deskripsi</h1>
        <p>{{ s.sparepartsData[s.sparepartsID - 1].deskripsi }}</p>
      </div>
    </div>

  </div>

</div>
